<nz-tabset>
  <nz-tab nzTitle="Khối 6">
    <ng-template nz-tab>
    <app-student-list-six></app-student-list-six>
    </ng-template>
  </nz-tab>
  <nz-tab nzTitle="Khối 7">
    <ng-template nz-tab>
    <app-student-list-seven></app-student-list-seven>
    </ng-template>
  </nz-tab>
  <nz-tab nzTitle="Khối 8">
    <ng-template nz-tab>
      <app-student-list-eight></app-student-list-eight>
    </ng-template>
  </nz-tab>
  <nz-tab nzTitle="Khối 9">
    <ng-template nz-tab>
      <app-student-list-nine></app-student-list-nine>
    </ng-template>
  </nz-tab>
</nz-tabset>
