<nz-tabset>
  <nz-tab nzTitle="Khối 6">
    <ng-template nz-tab>
    <app-tab-level-six></app-tab-level-six>
    </ng-template>
  </nz-tab>
  <nz-tab nzTitle="Khối 7">
    <ng-template nz-tab>
    <app-tab-level-seven></app-tab-level-seven>
    </ng-template>
  </nz-tab>
  <nz-tab nzTitle="Khối 8">
    <ng-template nz-tab>
      <app-tab-level-eight></app-tab-level-eight>
    </ng-template>
  </nz-tab>
  <nz-tab nzTitle="Khối 9">
    <ng-template nz-tab>
      <app-tab-level-nine></app-tab-level-nine>
    </ng-template>
  </nz-tab>
</nz-tabset>
