<div nz-row>
  <form nz-form [formGroup]="studentScoreForm" autocomplete="off">
    <div nz-row>
      <div nz-col nzXs="24" nzSm="24" nzMd="11" nzLg="11" nzXl="11">
        <fieldset>
          <legend>Khối 6</legend>
          <nz-form-item>
            <nz-form-label nzRequired nzFor="semesterOneLevelSix">Điểm HK1</nz-form-label>
            <nz-form-control nzErrorTip="Vui lòng nhập điểm học kì 1!">
              <input placeholder="Nhập tên điểm học kì 1" type="number" nz-input formControlName="semesterOneLevelSix"
                id="semesterOneLevelSix" autofocus />
            </nz-form-control>
          </nz-form-item>
          <nz-form-item>
            <nz-form-label nzRequired nzFor="semesterTwoLevelSix">Điểm HK2</nz-form-label>
            <nz-form-control nzErrorTip="Vui lòng nhập điểm học kì 2!">
              <input placeholder="Nhập tên điểm học kì 2" type="number" nz-input formControlName="semesterTwoLevelSix"
                id="semesterTwoLevelSix" autofocus />
            </nz-form-control>
          </nz-form-item>
        </fieldset>
        <br/>
        <fieldset>
          <legend>Khối 8</legend>
          <nz-form-item>
            <nz-form-label nzRequired nzFor="semesterOneLevelEight">Điểm HK1</nz-form-label>
            <nz-form-control nzErrorTip="Vui lòng nhập điểm học kì 1!">
              <input placeholder="Nhập tên điểm học kì 1" type="number" nz-input formControlName="semesterOneLevelEight"
                id="semesterOneLevelEight" autofocus />
            </nz-form-control>
          </nz-form-item>
          <nz-form-item>
            <nz-form-label nzRequired nzFor="semesterTwoLevelEight">Điểm HK2</nz-form-label>
            <nz-form-control nzErrorTip="Vui lòng nhập điểm học kì 2!">
              <input placeholder="Nhập tên điểm học kì 2" type="number" nz-input formControlName="semesterTwoLevelEight"
                id="semesterTwoLevelEight" autofocus />
            </nz-form-control>
          </nz-form-item>
        </fieldset>
      </div>
      <div nz-col nzXs="24" nzSm="24" nzMd="2" nzLg="2" nzXl="2"></div>
      <div nz-col nzXs="24" nzSm="24" nzMd="11" nzLg="11" nzXl="11">
        <fieldset>
          <legend>Khối 7</legend>
          <nz-form-item>
            <nz-form-label nzRequired nzFor="semesterOneLevelSeven">Điểm HK1</nz-form-label>
            <nz-form-control nzErrorTip="Vui lòng nhập điểm học kì 1!">
              <input placeholder="Nhập tên điểm học kì 1" type="number" nz-input formControlName="semesterOneLevelSeven"
                id="semesterOneLevelSeven" autofocus />
            </nz-form-control>
          </nz-form-item>
          <nz-form-item>
            <nz-form-label nzRequired nzFor="semesterTwoLevelSeven">Điểm HK2</nz-form-label>
            <nz-form-control nzErrorTip="Vui lòng nhập điểm học kì 2!">
              <input placeholder="Nhập tên điểm học kì 2" type="number" nz-input formControlName="semesterTwoLevelSeven"
                id="semesterTwoLevelSeven" autofocus />
            </nz-form-control>
          </nz-form-item>
        </fieldset>
        <br/>
        <fieldset>
            <legend>Khối 9</legend>
            <nz-form-item>
              <nz-form-label nzRequired nzFor="semesterOneLevelNine">Điểm HK1</nz-form-label>
              <nz-form-control nzErrorTip="Vui lòng nhập điểm học kì 1!">
                <input placeholder="Nhập tên điểm học kì 1" type="number" nz-input formControlName="semesterOneLevelNine"
                  id="semesterOneLevelNine" autofocus />
              </nz-form-control>
            </nz-form-item>
            <nz-form-item>
                <nz-form-label nzRequired nzFor="semesterTwoLevelNine">Điểm HK2</nz-form-label>
                <nz-form-control nzErrorTip="Vui lòng nhập điểm học kì 2!">
                  <input placeholder="Nhập tên điểm học kì 2" type="number" nz-input formControlName="semesterTwoLevelNine"
                    id="semesterTwoLevelNine" autofocus />
                </nz-form-control>
              </nz-form-item>
          </fieldset>
      </div>
    </div>
  </form>
</div>
<!-- <form nz-form [formGroup]="studentScoreForm" autocomplete="off">
  <nz-form-item>
    <nz-form-label nzRequired nzFor="semesterOneLevelSix">Điểm HK1</nz-form-label>
    <nz-form-control nzErrorTip="Vui lòng nhập điểm học kì 1!">
      <input placeholder="Nhập tên điểm học kì 1" type="number" nz-input formControlName="semesterOneLevelSix"
        id="semesterOneLevelSix" autofocus />
    </nz-form-control>
  </nz-form-item>
  <nz-form-item>
    <nz-form-label nzRequired nzFor="semesterTwoLevelSix">Điểm HK2</nz-form-label>
    <nz-form-control nzErrorTip="Vui lòng nhập điểm học kì 2!">
      <input placeholder="Nhập tên điểm học kì 2" type="number" nz-input formControlName="semesterTwoLevelSix"
        id="semesterTwoLevelSix" autofocus />
    </nz-form-control>
  </nz-form-item>
</form> -->
<br />
<div nz-row class="footer-drawer">
  <button nz-button nzType="default" (click)="close()">
    <i nz-icon nzType="close" nzTheme="outline"></i>Hủy
  </button>
  <button nz-button nzType="primary" (click)="saveChanges()" [nzLoading]="loadingSaveChanges">
    <i nz-icon nzType="save" nzTheme="outline"></i>Lưu
  </button>
</div>