<nz-descriptions nzTitle="Bảng điểm"  [nzSize]="'small'" nzBordered>
<nz-descriptions-item nzTitle="Toán" [nzSpan]="4">{{diemData?.toan}}</nz-descriptions-item>
  <nz-descriptions-item nzTitle="Ngữ văn" [nzSpan]="4">{{diemData?.nguVan}}</nz-descriptions-item>
  <nz-descriptions-item nzTitle="Ngoại ngữ" [nzSpan]="4">{{diemData?.ngoaiNgu}}</nz-descriptions-item>
  <nz-descriptions-item nzTitle="Tin" [nzSpan]="4">{{diemData?.tin}}</nz-descriptions-item>
  <nz-descriptions-item nzTitle="Lịch sử" [nzSpan]="4">{{diemData?.lichSu}}</nz-descriptions-item>
  <nz-descriptions-item nzTitle="Địa lý" [nzSpan]="4">{{diemData?.diaLy}}</nz-descriptions-item>
  <nz-descriptions-item nzTitle="Giáo dục công dân" [nzSpan]="4">{{diemData?.giaoDucCongDan}}</nz-descriptions-item>
  <nz-descriptions-item nzTitle="Công nghệ" [nzSpan]="4">{{diemData?.congNghe}}</nz-descriptions-item>
  <nz-descriptions-item nzTitle="Vật lý" [nzSpan]="4">{{diemData?.vatLy}}</nz-descriptions-item>
  <nz-descriptions-item nzTitle="Sinh học" [nzSpan]="4">{{diemData?.sinhHoc}}</nz-descriptions-item>
  <nz-descriptions-item nzTitle="Âm nhạc" [nzSpan]="4">{{diemData?.amNhac}}</nz-descriptions-item>
  <nz-descriptions-item nzTitle="My thuật" [nzSpan]="4">{{diemData?.myThuat}}</nz-descriptions-item>
  <nz-descriptions-item nzTitle="Điểm trung bình cộng" [nzSpan]="4">{{diemData?.diemTrungBinhCong}}</nz-descriptions-item>
</nz-descriptions>