<div nz-row style="margin-bottom: 10px;">
  <div nz-row>
    <div nz-col nzXs="24" nzSm="24" nzMd="12" nzLg="12" nzXl="12">
      <nz-input-group [nzSuffix]="suffixIconSearch">
        <input type="text" nz-input placeholder="Tìm kiếm" (input)="search($event.target.value)" />
      </nz-input-group>
      <ng-template #suffixIconSearch>
        <i nz-icon nzType="search"></i>
      </ng-template>
    </div>
    <div nz-col nzXs="24" nzSm="24" nzMd="12" nzLg="12" nzXl="12" class="text-right">
      <button nz-button nzType="primary" (click)="addNew()">
        <i nz-icon nzType="plus" nzTheme="outline"></i> Thêm mới
      </button>
    </div>
  </div>
</div>

<nz-table #levelTable nzBordered [nzData]="dataSet" [nzLoading]="loading" [nzTotal]="pagination?.totalItems"
  [nzPageIndex]="pagination?.currentPage" [(nzPageSize)]="pagination.itemsPerPage" [nzNoResult]="'Không có dữ liệu.'"
  (nzPageIndexChange)="loadData()" (nzPageSizeChange)="loadData(true)" nzSize="middle" [nzShowTotal]="rangeTemplate">
  <ng-template #rangeTemplate let-range="range" let-total></ng-template>
    <thead>
      <tr>
        <th nzWidth="10%">STT</th>
        <th>Tài khoản</th>
        <th>Họ và tên</th>
        <th>Vai trò</th>
        <th>Thao tác</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let data of levelTable.data;let i = index">
        <td>{{ i + 1}}</td>
        <td>{{data.userName}}</td>
        <td>{{data.fullName}}</td>
        <td>{{data.roleName}}</td>
        <td>
          <ng-container *ngIf="data.userName !== 'admin'">
            <nz-button-group>
              <button nz-button nzType="default" nz-tooltip nzTitle="Sửa" (click)="update(data)">
                <i nz-icon nzType="edit" theme="outline"></i>
              </button>
              <button nz-button nzType="danger" nz-tooltip nzTitle="Xóa" (click)="delete(data.id)">
                <i nz-icon nzType="delete" theme="outline"></i>
              </button>
            </nz-button-group>
          </ng-container>
        </td>
      </tr>
    </tbody>
</nz-table>