#background-logo {
    background-image: url("/assets/login-background.png");
    height: 100%;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

#div-logo {
    text-align: center;
    margin: 40px;
}

.login-form {
    max-width: 300px;
}
.login-form-button {
    width: 100%;
}
#div-title {
    text-align: center;
}
#div-title h1 {
    
}
#div-login {
    width: 300px;
    margin: auto;
}

  