#background-logo {
    background-image: url("/assets/login-background.png");
    height: 100%;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

#div-logo {
    text-align: center;
    margin: 40px;
}

.login-form {
    max-width: 300px;
}
.login-form-button {
    width: 100%;
}
#div-title {
    text-align: center;
}
#div-title h1 {
    
}
#div-login {
    width: 300px;
    margin: auto;
}

#logo-text {
    font-family: 'Anton', sans-serif;
    font-weight: 700;
    font-size: 40px;
    text-align: center;
    color: #0aa679;
    margin-top: 100px;
    margin-bottom: 50px;
}

  